{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<section>
    <div class="content__reset-pass">
        <h2>Alterar senha</h2>
        <p>Digite seu email abaixo. Caso ele conste no nosso banco de dados, em instantes, você receberá um email com o link de redirecionamento para alterar sua senha.</p>

        <form action="" method="POST">

            {% csrf_token %}
            {{ form|crispy}}

            <button type="submit" class="btn btn-light mt-3">Enviar</button>

        </form>
    </div>
</section>

<!-- <a href="{% url 'signup' %}">Signup</a> -->

{% endblock %}