{% extends "base.html" %} {% block content %}
<section class="container mt-4">
  <h2>Projeto</h2>
  <p>
    O Lampião Cine é um projeto desenvolvido na disciplina de Sistemas
    Distribuídos, ministrada pelo Prof. Dr. Jairson Barbosa. A ideia do projeto
    é proporcionar aos alunos, a experimentação do desenvolvimento de um projeto
    utilizando o framewrok django, culminando no deploy em nuvem.
  </p>
  <h2>Desenvolvedores</h2>
  <p>Anderson de Alencar Barros</p>
  <p>Edimário Moura Junior</p>
  <p>Edon Brendon Souza</p>
</section>

{% endblock %}
