{% extends 'base.html' %} {% block content %}
<div
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="tickets-modal"
  aria-hidden="true"
  id="tickets-modal"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="overflow: auto; max-height: 500px">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Bilhetes</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          id="close-modal-icon"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-ticket"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-modal-button">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
<section class="container py-4">
  <h3>{{ cinema.name }}</h3>

  <section class="my-4">
    <h4>Filmes em cartaz:</h4>
    <section class="movies-grid">
      {% for movie in cinema.movies.all %}
      <div class="card" style="width: 100%">
        <img
          src="{{ movie.poster }}"
          class="card-img-top"
          alt="Poster do filme {{ movie.title }}"
          style="height: 20rem; object-fit: contain"
        />
        <div class="card-body" style="height: 13rem">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text limited-lines-block">{{ movie.description }}</p>
          <button id="{{ movie.id }}" class="btn btn-primary see-tickets"
            >Ver bilhetes</a
          >
        </div>
      </div>
      {% endfor %}
    </section>
  </section>
  <section class="my-4">
    <h4>Localização:</h4>
    <section>
      <div id='map' width="100%" style='height:600px'>

      </div>
    </section>
  </section>
  
</section>


<script>

  const ticketsJSON = '{{ tickets | escapejs }}'

  const tickets = JSON.parse(ticketsJSON)
  const moviesButtons = document.getElementsByClassName("see-tickets");

  const ticketModal = new bootstrap.Modal(document.getElementById('tickets-modal'), { backdrop: true })
  const arrayMoviesElements = Array.from(moviesButtons)

  arrayMoviesElements.forEach( element => {
    element.addEventListener("click", (e) => {
      e.preventDefault();
      const movieId = e.target.id;

      const ticketsFromMovie = tickets.filter( ticket => Number(ticket.fields.movie) === Number(movieId))
      .map( ticket => ticket.fields)

      let ticketsContent = "";
      
      if (ticketsFromMovie.length) {
        let ticketsHTML = ""
        ticketsFromMovie.forEach(ticket =>  {
          ticketsHTML += `
        <div class="p-3 ticket-card border border-primary rounded" style="max-width: 200px; cursor: pointer">
          <div
            class="d-flex justify-content-between align-items-center pb-2"
          >
            <h6 style="margin-bottom: 0">Preço</h6>
            <p style="margin-bottom: 0;  color: var(--android-green); font-weight: bolder">${ticket.price.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})}</p>
          </div>
          <div
            class="d-flex justify-content-between align-items-center"
          >
            <h6 style="margin-bottom: 0">Cadeira</h6>
            <p style="margin-bottom: 0;">${ticket.chair}</p>
          </div>
          <div
            class="d-flex justify-content-between align-items-center"
          >
            <h6 style="margin-bottom: 0">Sala</h6>
            <p style="margin-bottom: 0">${ticket.room}</p>
          </div>
          <div
            class="d-flex justify-content-between align-items-center"
          >
            <h6 style="margin-bottom: 0">Data</h6>
            <p style="margin-bottom: 0">${new Date(ticket.date).toLocaleDateString()}</p>
          </div>
          <div
            class="d-flex justify-content-between align-items-center"
          >
            <h6 style="margin-bottom: 0">Horário</h6>
            <p style="margin-bottom: 0">${ticket.time.split('.')[0]}</p>
          </div>
        </div>
        `})
        ticketsContent = `<div class="tickets-grid">
          ${ticketsHTML}
        </div>`
      } else ticketsContent = "<h5>Sem bilhetes para esse filme :C</h5>";

      document.getElementById("modal-body-ticket").innerHTML = ticketsContent;
      ticketModal.show()
    });
  })
  
  const closeModalElements = ['close-modal-button','close-modal-icon']
  closeModalElements.forEach( tagElement => {
    const element = document.getElementById(tagElement)

    element.addEventListener('click', () => {
      ticketModal.hide()
    })
  })


</script>

<script>
  const coordsJSON = '{{ cinema_coordinates | escapejs }}'
  const coords = JSON.parse(coordsJSON)
  mapboxgl.accessToken = '{{ mapbox_access_token }}'
  const map = new mapboxgl.Map({
   container: 'map',
   style: 'mapbox://styles/mapbox/streets-v10',
   center: [coords.long, coords.lat],
   zoom: 12
  });

  const marker = new mapboxgl.Marker()
    .setLngLat([coords.long, coords.lat])
    .addTo(map)
</script>

{% endblock %}
