{% extends "base.html" %} {% block content %}

<form action="" method="post">
  <div class="container">
    <h1>Rating & Review</h1>
    
    <div class="col m-3">
      <h3 for="{{ form.subject.id_for_label }}">Rating</h3>
      <p class="font-italic">Entre 1 e 5, dê sua nota!</p>
      
        {{ form.score }}
      
        <p style="color:red">
          {{ form.score.errors }}
        </p>
    </div>

    <div class="col m-3">
      <h3 for="{{ form.message.id_for_label }}">Review</h3>
      <div>
        {{ form.review }}
      </div>
      {{ form.review.errors }}
    </div>

    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>

{% endblock %}
