<section class="movies-grid">
  {% for movie in movies %} {% include "movie_card.html" %} {% endfor %}
</section>
{% if page_obj.paginator.num_pages > 0 %}
<div class="pagination py-3 mt-3 d-flex justify-content-end align-items-center">
  <span class="step-links mx-3">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; Primeiro</a>
    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    <span class="current mx-3">
      Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
    {% endif %}
  </span>
</div>
{% endif %}
